.card {
  // background-color: purple;
  // margin-top: 0px;
  padding: 0px;
  h5 {
    padding: 10px;
    margin: 0px;
    // border-bottom: solid lightgray;
  }

}

.result-cards {
  width: 50%;
}

.card-header {
  // background-color: blue;
  display: flex;
  justify-content: space-between;
  border-bottom: solid lightgray;
}

.difficulty {
  text-align: right;
  padding: 10px;
}

