.card {
  background-color: purple;
  // margin-top: 0px;
  padding: 0px;
  h5 {
    padding: 10px;
    border-bottom: solid lightgray;
  }

}
.card-header {
  background-color: green;
}
.difficulty {
  text-align: right;
  padding: 10px;
}

